@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 222, 222);
}

/* Styles for the header */
.header {
    /* border: 2px solid black; */
    font-family: "Cabin Sketch", Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

/* Styles for the main container */
.container {
    /* border: 2px solid red; */
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* Styles for the buttons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(223, 222, 222);
    font-size: 20px;
    padding: 7px 40px;
    cursor: pointer;
}

.buttons .black {
    background-color: black;
    color: white;
}

/* Styles for the grid */
.board .grid {
    border: 1px solid black;
}

.board {
    width: 500px;
    height: 500px;
    background-color: #fff;
    box-shadow: 3px 3px 5px gray;

    display: flex;
    flex-wrap: wrap;
}